.addTask {
  /* background-color: red; */
  display: flex;
  /* column-gap: 5px; */
  justify-content: center;
  margin-top: 16px;
}

.addButtonDis {
  background-color: rgba(155, 95, 212, 0.616);
  color: rgb(255, 255, 255);
  border: 1px solid;
  border-color: rgb(135, 135, 236);
  /* padding: 0 20px; */
  border-radius: 3px;
  /* font-size: medium; */
  /* background-color: aqua; */
  height: 30px;
  font-family: medium;
}

.addButtonAb {
  background-color: rgb(143, 50, 230);
  color: rgb(255, 255, 255);
  border: 1px solid;
  border-color: rgb(135, 135, 236);
  /* padding: 0 20px;  */
  border-radius: 3px;
  height: 30px;
  font-family: medium;
  /* padding: 18px 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.addButtonAb:hover {
  padding: 18px 5px;
}
