.App {
  /* padding: 100px 100px; */
  /* background-color: rgba(46, 186, 190, 0.644); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all {
  background-color: rgba(253, 253, 253, 0.904);
  padding: 5px;
  border-radius: 18px;

}
