#title {
  display: flex;
  justify-content: center;
  color: rgba(37, 34, 37, 0.74);
  font-family: karla;
}

#buttons {
  display: flex;
  justify-content: center;
}
#button {
  font-family: medium;
  font-size: large;
  padding: 2px;
  margin: 2px;
  font-size: small;
  background-color: bisque;
  color: rgb(26, 118, 199);
}

@font-face {
  font-family: karla;
  src: url("../public/fonts/Karla/Karla-VariableFont_wght.ttf");
}

@font-face {
  font-family: medium;
  src: url(../public/fonts/Onest/Onest-Medium.ttf);
}
@font-face {
  font-family: bold;
  src: url(../public/fonts/Onest/Onest-Bold.ttf);
}
